header{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo{
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

nav{
  padding-right: 40px;
}

.nav{
  display: inline-block;
  padding: 20px 10px;
}

div
{
  border: 1px solid black;
  /* margin-right: 12px; */
}
a{
  color: black;
}


.headlines{
  display:flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
.main-story{
    font-size: 40px;
    text-align: left;
}
.story-text{
  font-family: Georgia;
  font-size: 15px;
  color: black;
}
/* supposed to be 17px */



.main-container{
  display: flex;
  justify-content:center;
  padding: 116px;
  /* width: 1232px; */
  /* margin: 0px auto 78px auto; */
  /* width:100%; */
}

.column{
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  /* justify-content: space-around; */
}

.large {
  width: 630px;
}

.medium {
  width: 300px;
}

.small {
  width: 240px;
}

.story{
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
}

.image-div{
  display: flex;
  height: 300px;

  /* flex-grow: 1; */
}

#main-image{
  background-image: url(../images/img-story-main.png);
  width: 630px;
  margin-top: 0px;
}
#fall-image{
  background-image: url(../images/img-story-2.png);
}
#research-image{
  background-image: url(../images/img-story-3.png);
}
#cat-image{
  background-image: url(../images/img-story-1.png);
}
